* {
	background-color: antiquewhite;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	margin: 50px 0px;
}

img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

h1 {
	text-align: center;
	margin: 0;
}

.currency-buttons {
	display: flex;
}

.currency-buttons button {
	flex: 1;
	margin-right: 5px;
}

button {
	width: 200px;
}

p {
	margin-top: 16px;
	font-weight: bold;
}

#resultOutput {
	font-weight: bold;
	text-align: center;
	min-width: 300px;
}

#convertButton {
	font-weight: bold;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #f0f3f0, #929493);
}

.form-elements {
	border-radius: 5px;
	background-color: gainsboro;
	font-weight: bold;
}

label {
	font-weight: bold;
}
